<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.isis3520_202220_team25_kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".JobsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Isis3520_202220_Team25_Kotlin"
        tools:targetApi="31">

        <activity
            android:name=".ui.view.user.DisplayUserView"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.view.job_detail.JobDetailView"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.view.CreateJob.CreateJobView"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.view.jobs_list.JobsListView"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.view.AppliedJobs.AppliedJobsListView"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.view.home.HomeView"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>